@charset "UTF-8";

header {
    padding: 0.8px;
    background-color: thistle;
    color: steelblue;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}

main > div {
    max-width: 1000px;
    margin: 0 auto;
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    display: flex;
}

main > div {
    max-width: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
main > div img {
    width: 45%;
}
main > div div {
    width: 40%;
}

footer {
    background-color: steelblue;
    color: aliceblue;
    text-align: center;
    padding: 1px;
    margin-top: 60px;
}

@media (max-width: 500px){
    main > div {
        flex-direction: column;
        align-items: center;
        /* ↑本来垂直方向の中央寄せだが、ブラウザの画面幅が小さくなた際、
        コンテナごと９０°回転するため、かかる方向が横向きになり、
        同じく効果出る方向も傾くので横からだけでなく縦からも設定しておく必要がある */
    }
}
